* {
    margin: 0;
    top: 0;
}

.map{
    background-image: url('../../data/Map/gameplay.png');
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255); 
}

.tile {
    z-index: 0;
    display: inline-flex;
}